# Server
PORT=3000
NODE_ENV=development

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=job_processing
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/job_processing

# Redis
REDIS_URL=redis://localhost:6379
